.newincident-container{
        width: 100%;
        max-width: 1120px;
        margin: 0 auto;
        height: 100vh;
        
        display: flex;
        align-items: center;
        justify-content: center;
        .content{
            width: 100%;
            padding: 96px;
            background-color: #f0f0f5;
            box-shadow: 0 0 100px rgba(0,0,0 ,0.1);
            border-radius: 8px;
    
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        section{
            width: 100%;
            max-width: 380px;
            h1{
                margin: 54px 0 32px;
                font-size: 32px;
            }
            p{
                line-height: 32px;
                font-size: 18px;
                color: #737380;;
            }
        }
    
        form{
            width: 100%;
            max-width: 450px;
            input{
                margin-top: 8px;
            }
            .button-group{
                display: flex;
                justify-content: space-between;
                align-items: center;
                button + button{
                    margin-left: 8px;
                }
            }
        }
}